# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [3]:
baby_names = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")
baby_names

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [5]:
baby_names.drop(['Unnamed: 0','Id'],axis=1,inplace=True)
baby_names

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

### Step 6. Is there more male or female names in the dataset?

In [6]:
gender_count = baby_names['Gender'].value_counts()
pd.DataFrame(gender_count)

   Gender
F  558846
M  457549

### Step 7. Group the dataset by name and assign to names

In [16]:
names = baby_names.groupby('Name')

In [17]:
for name,data in names:
  print(f"\nName {name}")
  print(data)

Streaming output truncated to the last 5000 lines.

[154 rows x 5 columns]

Name Zackariah
             Name  Year Gender State  Count
115732  Zackariah  2006      M    CA      5
120424  Zackariah  2008      M    CA     10
127074  Zackariah  2010      M    CA      6
136128  Zackariah  2013      M    CA      5
214059  Zackariah  2006      M    FL      5
568204  Zackariah  2010      M    NC      6
719384  Zackariah  2007      M    OH      5
890491  Zackariah  2005      M    TX      5
892596  Zackariah  2006      M    TX      6
894871  Zackariah  2007      M    TX      7
897669  Zackariah  2008      M    TX      6
902833  Zackariah  2010      M    TX      6
907974  Zackariah  2012      M    TX      6
910934  Zackariah  2013      M    TX      5

Name Zackary
            Name  Year Gender State  Count
3009     Zackary  2006      M    AK      6
3741     Zackary  2009      M    AK      5
4474     Zackary  2012      M    AK      5
4730     Zackary  2013      M    AK      5
15041    Zackary  2004      M    AL     27
...          ...   ...    ...   ...    ...
1010884  Zackary  2008      M    WV      6
1011107  Zackary  2009      M    WV     12
1011561  Zackary  2010      M    WV      6
1011861  Zackary  2011      M    WV      8
1012957  Zackary  2014      M    WV      7

[416 rows x 5 columns]

Name Zackery
            Name  Year Gender State  Count
15143    Zackery  2004      M    AL     17
15951    Zackery  2005      M    AL     12
16619    Zackery  2006      M    AL     15
17418    Zackery  2007      M    AL     14
18211    Zackery  2008      M    AL     13
...          ...   ...    ...   ...    ...
999029   Zackery  2007      M    WI      6
1000694  Zackery  2009      M    WI      6
1009527  Zackery  2004      M    WV      8
1010931  Zackery  2008      M    WV      5
1011283  Zackery  2009      M    WV      5

[257 rows x 5 columns]

Name Zada
        Name  Year Gender State  Count
69079   Zada  2005      F    CA      8
77518   Zada  2007      F    CA      8
86721   Zada  2009      F    CA      6
184879  Zada  2004      F    FL      6
189522  Zada  2006      F    FL      6
194380  Zada  2008      F    FL      6
234118  Zada  2006      F    GA      5
237363  Zada  2008      F    GA      7
244563  Zada  2012      F    GA      6
295577  Zada  2004      F    IL      5
309339  Zada  2011      F    IL      5
332896  Zada  2004      F    IN      5
543762  Zada  2004      F    NC      6
547902  Zada  2007      F    NC     10
550254  Zada  2008      F    NC      5
556291  Zada  2012      F    NC      7
647639  Zada  2004      F    NY      6
650484  Zada  2005      F    NY      5
699008  Zada  2005      F    OH      7
701080  Zada  2006      F    OH      5
765100  Zada  2005      F    PA      6
801313  Zada  2006      F    SC      6
824310  Zada  2005      F    TN      7
850926  Zada  2005      F    TX     14
854351  Zada  2006      F    TX     15
859475  Zada  2007      F    TX      6
863723  Zada  2008      F    TX      5
866924  Zada  2009      F    TX      6
870656  Zada  2010      F    TX      6
877046  Zada  2012      F    TX      9
884935  Zada  2014      F    TX      7
933905  Zada  2005      F    VA      5

Name Zade
        Name  Year Gender State  Count
109459  Zade  2004      M    CA      7
112866  Zade  2005      M    CA      5
118293  Zade  2007      M    CA      6
120726  Zade  2008      M    CA      8
127075  Zade  2010      M    CA      6
132838  Zade  2012      M    CA      6
135457  Zade  2013      M    CA      7
138423  Zade  2014      M    CA      7
154542  Zade  2008      M    CO      5
215915  Zade  2007      M    FL      5
225121  Zade  2012      M    FL      5
402616  Zade  2010      M    LA      5
522751  Zade  2014      M    MO      5
567115  Zade  2009      M    NC      5
718074  Zade  2006      M    OH      5
727056  Zade  2013      M    OH      7
741798  Zade  2008      M    OK      5
887386  Zade  2004      M    TX      8
890492  Zade  2005      M    TX      5
892895  Zade  2006      M    TX      5
894538  Zade  2007      M    TX      9
897236  Zade  2008      M    TX      8
899654  Zade  2009      M    TX      9
902032  Zade  2010      M    TX     11
904524  Zade  2011      M    TX     12
906971  Zade  2012      M    TX     14
910381  Zade  2013      M    TX      7
912629  Zade  2014      M    TX      9

Name Zaden
         Name  Year Gender State  Count
19407   Zaden  2009      M    AL      5
20039   Zaden  2010      M    AL      7
33861   Zaden  2009      M    AR      6
34984   Zaden  2011      M    AR      7
57100   Zaden  2009      M    AZ      7
...       ...   ...    ...   ...    ...
912040  Zaden  2014      M    TX     18
925115  Zaden  2006      M    UT      6
952407  Zaden  2009      M    VA      6
978037  Zaden  2007      M    WA      6
981153  Zaden  2010      M    WA      6

[85 rows x 5 columns]

Name Zadie
         Name  Year Gender State  Count
7570    Zadie  2006      F    AL      5
72656   Zadie  2006      F    CA     11
76876   Zadie  2007      F    CA     11
81528   Zadie  2008      F    CA      9
85374   Zadie  2009      F    CA     11
89377   Zadie  2010      F    CA     12
93081   Zadie  2011      F    CA     16
97915   Zadie  2012      F    CA      9
102480  Zadie  2013      F    CA      7
105452  Zadie  2014      F    CA     12
145283  Zadie  2009      F    CO      5
208785  Zadie  2014      F    FL      5
558273  Zadie  2013      F    NC      5
658269  Zadie  2008      F    NY      5
660892  Zadie  2009      F    NY      5
662848  Zadie  2010      F    NY      7
671146  Zadie  2013      F    NY      5
672894  Zadie  2014      F    NY      8
826980  Zadie  2007      F    TN      5
833029  Zadie  2012      F    TN      5
849397  Zadie  2004      F    TX      5
852808  Zadie  2005      F    TX      5
855241  Zadie  2006      F    TX      8
858840  Zadie  2007      F    TX      8
863212  Zadie  2008      F    TX      6
865722  Zadie  2009      F    TX     11
869458  Zadie  2010      F    TX     11
873086  Zadie  2011      F    TX     11
877047  Zadie  2012      F    TX      9
880286  Zadie  2013      F    TX     12
883882  Zadie  2014      F    TX     13

Name Zadkiel
           Name  Year Gender State  Count
130334  Zadkiel  2011      M    CA      5
136129  Zadkiel  2013      M    CA      5
138424  Zadkiel  2014      M    CA      7
900244  Zadkiel  2009      M    TX      6

Name Zadok
         Name  Year Gender State  Count
133237  Zadok  2012      M    CA      5
907747  Zadok  2012      M    TX      7
910621  Zadok  2013      M    TX      6

Name Zadrian
           Name  Year Gender State  Count
892896  Zadrian  2006      M    TX      5
895417  Zadrian  2007      M    TX      5
902834  Zadrian  2010      M    TX      6

Name Zadyn
         Name  Year Gender State  Count
479999  Zadyn  2013      M    MI      5
908339  Zadyn  2012      M    TX      5

Name Zaeden
          Name  Year Gender State  Count
902835  Zaeden  2010      M    TX      6
910935  Zaeden  2013      M    TX      5
913249  Zaeden  2014      M    TX      6

Name Zaedyn
          Name  Year Gender State  Count
158783  Zaedyn  2013      M    CO      5
226730  Zaedyn  2013      M    FL      6
572141  Zaedyn  2013      M    NC      5
905382  Zaedyn  2011      M    TX      6
910382  Zaedyn  2013      M    TX      7
912511  Zaedyn  2014      M    TX     10

Name Zaelynn
           Name  Year Gender State  Count
874258  Zaelynn  2011      F    TX      6
877276  Zaelynn  2012      F    TX      8
883796  Zaelynn  2014      F    TX     14

Name Zafir
         Name  Year Gender State  Count
610521  Zafir  2004      M    NJ      5
782190  Zafir  2005      M    PA      5

Name Zahara
          Name  Year Gender State  Count
47303   Zahara  2011      F    AZ      7
48901   Zahara  2012      F    AZ      5
68207   Zahara  2005      F    CA     13
71649   Zahara  2006      F    CA     25
76533   Zahara  2007      F    CA     14
...        ...   ...    ...   ...    ...
937810  Zahara  2008      F    VA      6
939373  Zahara  2009      F    VA      5
944546  Zahara  2013      F    VA      6
966645  Zahara  2008      F    WA      7
970451  Zahara  2011      F    WA      7

[92 rows x 5 columns]

Name Zahava
          Name  Year Gender State  Count
599839  Zahava  2007      F    NJ      5
601217  Zahava  2008      F    NJ      5
603388  Zahava  2010      F    NJ     10
605126  Zahava  2011      F    NJ      6
608076  Zahava  2013      F    NJ      5
609242  Zahava  2014      F    NJ      6
647199  Zahava  2004      F    NY      8
649534  Zahava  2005      F    NY      9
652083  Zahava  2006      F    NY      9
654124  Zahava  2007      F    NY     15
657132  Zahava  2008      F    NY     10
660534  Zahava  2009      F    NY      6
662643  Zahava  2010      F    NY      8
667417  Zahava  2012      F    NY     11
673340  Zahava  2014      F    NY      6

Name Zaheer
          Name  Year Gender State  Count
691654  Zaheer  2012      M    NY      7

Name Zahid
         Name  Year Gender State  Count
108886  Zahid  2004      M    CA     11
111092  Zahid  2005      M    CA     20
114287  Zahid  2006      M    CA     13
117576  Zahid  2007      M    CA      9
120565  Zahid  2008      M    CA      9
126378  Zahid  2010      M    CA      9
129967  Zahid  2011      M    CA      6
135750  Zahid  2013      M    CA      6
320802  Zahid  2007      M    IL      6
617251  Zahid  2010      M    NJ      5
687707  Zahid  2010      M    NY      6
691856  Zahid  2012      M    NY      6
888100  Zahid  2004      M    TX      5
902573  Zahid  2010      M    TX      7
905134  Zahid  2011      M    TX      7
907975  Zahid  2012      M    TX      6

Name Zahir
         Name  Year Gender State  Count
61139   Zahir  2013      M    AZ      6
109731  Zahir  2004      M    CA      6
111626  Zahir  2005      M    CA     11
114440  Zahir  2006      M    CA     11
116886  Zahir  2007      M    CA     18
...       ...   ...    ...   ...    ...
912041  Zahir  2014      M    TX     18
947996  Zahir  2005      M    VA      6
949238  Zahir  2006      M    VA      5
955866  Zahir  2012      M    VA      5
958109  Zahir  2014      M    VA      5

[89 rows x 5 columns]

Name Zahira
          Name  Year Gender State  Count
64560   Zahira  2004      F    CA     10
69408   Zahira  2005      F    CA      7
72820   Zahira  2006      F    CA     10
76326   Zahira  2007      F    CA     16
81761   Zahira  2008      F    CA      8
85375   Zahira  2009      F    CA     11
89262   Zahira  2010      F    CA     13
95376   Zahira  2011      F    CA      5
99466   Zahira  2012      F    CA      5
103420  Zahira  2013      F    CA      5
106443  Zahira  2014      F    CA      7
185229  Zahira  2004      F    FL      5
187500  Zahira  2005      F    FL      5
194381  Zahira  2008      F    FL      6
204097  Zahira  2012      F    FL      5
233851  Zahira  2006      F    GA      6
655637  Zahira  2007      F    NY      5
657440  Zahira  2008      F    NY      8
660056  Zahira  2009      F    NY      8
668638  Zahira  2012      F    NY      5
671147  Zahira  2013      F    NY      5
769888  Zahira  2008      F    PA      6
848140  Zahira  2004      F    TX      9
854880  Zahira  2006      F    TX     10
862828  Zahira  2008      F    TX      7
867498  Zahira  2009      F    TX      5
870263  Zahira  2010      F    TX      7
874745  Zahira  2011      F    TX      5

Name Zahirah
           Name  Year Gender State  Count
605348  Zahirah  2011      F    NJ      5
658270  Zahirah  2008      F    NY      5
765101  Zahirah  2005      F    PA      6
766670  Zahirah  2006      F    PA      6
771779  Zahirah  2009      F    PA      5

Name Zahmir
          Name  Year Gender State  Count
568381  Zahmir  2010      M    NC      5
610522  Zahmir  2004      M    NJ      5
611463  Zahmir  2005      M    NJ      6
612713  Zahmir  2006      M    NJ      5
613467  Zahmir  2007      M    NJ      8
614442  Zahmir  2008      M    NJ     11
618034  Zahmir  2011      M    NJ      8
690061  Zahmir  2011      M    NY      5
692138  Zahmir  2012      M    NY      5
696262  Zahmir  2014      M    NY      5
780602  Zahmir  2004      M    PA      8
783275  Zahmir  2006      M    PA      6
784431  Zahmir  2007      M    PA      7
786016  Zahmir  2008      M    PA      5
786865  Zahmir  2009      M    PA      9
788301  Zahmir  2010      M    PA      7
789787  Zahmir  2011      M    PA      6

Name Zahra
         Name  Year Gender State  Count
63676   Zahra  2004      F    CA     20
67317   Zahra  2005      F    CA     32
71925   Zahra  2006      F    CA     19
75642   Zahra  2007      F    CA     34
80130   Zahra  2008      F    CA     26
...       ...   ...    ...   ...    ...
945132  Zahra  2014      F    VA     23
963334  Zahra  2005      F    WA      5
971296  Zahra  2012      F    WA     13
974456  Zahra  2014      F    WA      5
992047  Zahra  2010      F    WI      6

[155 rows x 5 columns]

Name Zahraa
          Name  Year Gender State  Count
95377   Zahraa  2011      F    CA      5
98905   Zahraa  2012      F    CA      6
452344  Zahraa  2004      F    MI     22
453993  Zahraa  2005      F    MI     13
455524  Zahraa  2006      F    MI     12
456812  Zahraa  2007      F    MI     17
458181  Zahraa  2008      F    MI     22
459847  Zahraa  2009      F    MI     14
461311  Zahraa  2010      F    MI     16
462879  Zahraa  2011      F    MI     13
464547  Zahraa  2012      F    MI      9
465777  Zahraa  2013      F    MI     12
467196  Zahraa  2014      F    MI     12

Name Zahrah
          Name  Year Gender State  Count
663112  Zahrah  2010      F    NY      6

Name Zahria
          Name  Year Gender State  Count
186948  Zahria  2005      F    FL      7
189123  Zahria  2006      F    FL      8
191584  Zahria  2007      F    FL      8
194158  Zahria  2008      F    FL      7
199433  Zahria  2010      F    FL      5
201188  Zahria  2011      F    FL      7
204098  Zahria  2012      F    FL      5
233288  Zahria  2006      F    GA     10
235502  Zahria  2007      F    GA      7
239618  Zahria  2009      F    GA      5
243099  Zahria  2011      F    GA      5
546987  Zahria  2006      F    NC      5
860029  Zahria  2007      F    TX      5
937811  Zahria  2008      F    VA      6

Name Zahro
         Name  Year Gender State  Count
673679  Zahro  2014      F    NY      5

Name Zaid
         Name  Year Gender State  Count
32134    Zaid  2006      M    AR      5
52028    Zaid  2004      M    AZ      9
53288    Zaid  2005      M    AZ      5
54985    Zaid  2007      M    AZ      8
55955    Zaid  2008      M    AZ      9
...       ...   ...    ...   ...    ...
957674   Zaid  2014      M    VA      9
979199   Zaid  2008      M    WA      5
983269   Zaid  2012      M    WA      6
985349   Zaid  2014      M    WA      6
1003302  Zaid  2012      M    WI      5

[131 rows x 5 columns]

Name Zaida
         Name  Year Gender State  Count
39199   Zaida  2005      F    AZ      7
48902   Zaida  2012      F    AZ      5
64067   Zaida  2004      F    CA     14
68208   Zaida  2005      F    CA     13
72657   Zaida  2006      F    CA     11
...       ...   ...    ...   ...    ...
877048  Zaida  2012      F    TX      9
880177  Zaida  2013      F    TX     13
884650  Zaida  2014      F    TX      8
942057  Zaida  2011      F    VA      5
988941  Zaida  2007      F    WI      7

[62 rows x 5 columns]

Name Zaidan
          Name  Year Gender State  Count
139047  Zaidan  2014      M    CA      5
681668  Zaidan  2007      M    NY      5
913250  Zaidan  2014      M    TX      6

Name Zaidee
          Name  Year Gender State  Count
103421  Zaidee  2013      F    CA      5

Name Zaiden
           Name  Year Gender State  Count
19866    Zaiden  2010      M    AL     10
20700    Zaiden  2011      M    AL      9
21298    Zaiden  2012      M    AL     16
21979    Zaiden  2013      M    AL     21
22787    Zaiden  2014      M    AL     19
...         ...   ...    ...   ...    ...
1003710  Zaiden  2013      M    WI     13
1004799  Zaiden  2014      M    WI      7
1012171  Zaiden  2012      M    WV     10
1012518  Zaiden  2013      M    WV     10
1012925  Zaiden  2014      M    WV      8

[242 rows x 5 columns]

Name Zaidyn
           Name  Year Gender State  Count
36932    Zaidyn  2014      M    AR      5
132569   Zaidyn  2012      M    CA      7
135240   Zaidyn  2013      M    CA      8
225122   Zaidyn  2012      M    FL      5
328439   Zaidyn  2012      M    IL      7
331782   Zaidyn  2014      M    IL      5
353451   Zaidyn  2012      M    IN      5
521776   Zaidyn  2013      M    MO      5
570715   Zaidyn  2012      M    NC      6
572143   Zaidyn  2013      M    NC      5
632407   Zaidyn  2014      M    NM      5
694187   Zaidyn  2013      M    NY      5
744078   Zaidyn  2011      M    OK      5
791290   Zaidyn  2012      M    PA      5
793557   Zaidyn  2014      M    PA      8
845919   Zaidyn  2014      M    TN      6
901871   Zaidyn  2010      M    TX     13
904709   Zaidyn  2011      M    TX     10
907109   Zaidyn  2012      M    TX     12
909717   Zaidyn  2013      M    TX     12
913000   Zaidyn  2014      M    TX      7
1012668  Zaidyn  2013      M    WV      5

Name Zaila
         Name  Year Gender State  Count
106832  Zaila  2014      F    CA      6
873589  Zaila  2011      F    TX      8
881575  Zaila  2013      F    TX      6
884937  Zaila  2014      F    TX      7

Name Zailee
          Name  Year Gender State  Count
874746  Zailee  2011      F    TX      5

Name Zailey
          Name  Year Gender State  Count
103422  Zailey  2013      F    CA      5
860030  Zailey  2007      F    TX      5
861914  Zailey  2008      F    TX     12
865327  Zailey  2009      F    TX     15
869762  Zailey  2010      F    TX      9
873590  Zailey  2011      F    TX      8
876163  Zailey  2012      F    TX     17
880920  Zailey  2013      F    TX      8
884651  Zailey  2014      F    TX      8

Name Zailyn
          Name  Year Gender State  Count
86722   Zailyn  2009      F    CA      6
878410  Zailyn  2012      F    TX      5
913601  Zailyn  2014      M    TX      5

Name Zailynn
           Name  Year Gender State  Count
876876  Zailynn  2012      F    TX     10

Name Zaima
         Name  Year Gender State  Count
655638  Zaima  2007      F    NY      5

Name Zain
         Name  Year Gender State  Count
23287    Zain  2014      M    AL      5
35739    Zain  2012      M    AR      5
54279    Zain  2006      M    AZ      5
56016    Zain  2008      M    AZ      8
58197    Zain  2010      M    AZ      6
...       ...   ...    ...   ...    ...
981921   Zain  2011      M    WA     10
983400   Zain  2012      M    WA      5
984298   Zain  2013      M    WA      6
985506   Zain  2014      M    WA      5
1004800  Zain  2014      M    WI      7

[192 rows x 5 columns]

Name Zaina
         Name  Year Gender State  Count
64279   Zaina  2004      F    CA     12
68209   Zaina  2005      F    CA     13
74017   Zaina  2006      F    CA      6
77276   Zaina  2007      F    CA      9
80416   Zaina  2008      F    CA     19
...       ...   ...    ...   ...    ...
935248  Zaina  2006      F    VA      5
936626  Zaina  2007      F    VA      5
937468  Zaina  2008      F    VA      9
939374  Zaina  2009      F    VA      5
946114  Zaina  2014      F    VA      5

[80 rows x 5 columns]

Name Zainab
          Name  Year Gender State  Count
42337   Zainab  2007      F    AZ      5
46366   Zainab  2010      F    AZ      5
50179   Zainab  2013      F    AZ      5
63989   Zainab  2004      F    CA     15
68210   Zainab  2005      F    CA     13
...        ...   ...    ...   ...    ...
971526  Zainab  2012      F    WA      9
972744  Zainab  2013      F    WA      9
974050  Zainab  2014      F    WA      8
990190  Zainab  2008      F    WI      5
994152  Zainab  2012      F    WI      5

[145 rows x 5 columns]

Name Zaine
         Name  Year Gender State  Count
156973  Zaine  2011      M    CO      6
225123  Zaine  2012      M    FL      5
260930  Zaine  2012      M    GA      5
262295  Zaine  2013      M    GA      5
324143  Zaine  2009      M    IL      5

### Step 8. How many different names exist in the dataset?

In [7]:
number_unique_names = baby_names['Name'].nunique()
print(f"Number different names exist in the dataset is : {number_unique_names}")

Number different names exist in the dataset is : 17632

### Step 9. What is the name with most occurrences?

In [8]:
most_occ_name = baby_names['Name'].value_counts().idxmax()
most_occ_name_number = baby_names['Name'].value_counts().max()
print(f"Name with most occurrences '{most_occ_name}' , with number '{most_occ_name_number}'")

Name with most occurrences 'Riley' , with number '1112'

### Step 10. How many different names have the least occurrences?

In [9]:
least_occ_name = baby_names['Name'].value_counts().idxmin()
least_occ_name_number = baby_names['Name'].value_counts().min()
print(f"Name with least occurrences '{least_occ_name}' , with number '{least_occ_name_number}'")

Name with least occurrences 'Grettell' , with number '1'

### Step 11. What is the median name occurrence?

In [10]:
median_name = baby_names['Name'].value_counts().median()
print(f"Median name occurrence : {median_name}")

Median name occurrence : 8.0

### Step 12. What is the standard deviation of names?

In [11]:
median_name = baby_names['Name'].value_counts().std()
print(f"Standard deviation of names : {median_name}")

Standard deviation of names : 122.0299635081389

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [12]:
baby_names.describe()

               Year         Count
count  1.016395e+06  1.016395e+06
mean   2.009053e+03  3.485012e+01
std    3.138293e+00  9.739735e+01
min    2.004000e+03  5.000000e+00
25%    2.006000e+03  7.000000e+00
50%    2.009000e+03  1.100000e+01
75%    2.012000e+03  2.600000e+01
max    2.014000e+03  4.167000e+03