**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s = input("Enter string : ")
s+="."
count = 0
spaces = 0
for i in s:
 if i == " ":
  spaces +=1
 else:
  if i != ".":
    count+=1
print(f"Length the string is {count}")
print(f"Length the spaces in string {spaces}")
print(f"Length of total string with spaces {count+spaces}")

Enter string : A h med
Length the string is 5
Length the spaces in string 2
Length of total string with spaces 7

In [ ]:
string = input()
print("Length of string is",len(string))

Ahmed
Length of string is 5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string = input("Enter the string : ")
if len(string) <2:
  print("Empty String")
elif len(string) == 2:
  print(f"The string is {string*2}")
else:
  new_string = string[:2] + string[-2:]
  print(f"The string is {new_string}")

Enter the string : w3resource
The string is w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s = input("Enter the string : ")
if len(s) < 3:
  print(f"Not changed cause length of string less than 3 {s}")
elif s[-3:] == "ing":
  new_s = s[:-3] + "ly"
  print(f"The string already ends with 'ing' so the string is {new_s}")
else:
  s += "ing"
  print(f"The string is {s}")

Enter the string : abc
The string is abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
l = []
max = 0
l_size = int(input("Enter size of list : "))
for i in range(l_size):
  e = input(f"Enter {i+1} element : ")
  l.append(e)
print(f"The list is {l}")
for i in l:
   if len(i) > max:
     max = len(i)
     max_size = i
print(f"The longest word is {max_size} and length of the longest word = {len(max_size)}")

Enter size of list : 4
Enter 1 element : Ahmed
Enter 2 element : Ismail
Enter 3 element : Exercises
Enter 4 element : Azzam
The list is ['Ahmed', 'Ismail', 'Exercises', 'Azzam']
The longest word is Exercises and length of the longest word = 9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
s = input("Enter string : ")
if len(s)>1:
 print(f"The string is {s}")
 char_first = input("Enter character you want to set in the first char : ")
 char_last = input("Enter character you want to set in the last char : ")
 new_string = char_first + s[1:-1] + char_last
 print(f"New string is {new_string}")
else:
  print("The string is one character")

Enter string : abca
The string is abca
Enter character you want to set in the first char : e
Enter character you want to set in the last char : e
New string is ebce

In [ ]:
s = input("Enter string : ")
if len(s) > 1:
 print(f"The string is {s}")
 new_s = s[-1] + s[1:-1] + s[0]
 print(f"The new string is {new_s}")
else:
  print("The string is one character")

Enter string : dhmea
The string is dhmea
The new string is ahmed

In [ ]:
s = input("Enter string : ")
if len(s) > 1:
 print(f"The string is {s}")
 char = input("Enter character you want to set in the string : ")
 new_s = char + s[1:-1] + char
 print(f"The new string is {new_s}")
else:
  print("The string is one character")

Enter string : abca
The string is abca
Enter character you want to set in the string : e
The new string is ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s = input("Enter string : ")
new_s = ""
if len(s) > 1:
  for i in range(len(s)):
    if i %2 == 0:
      new_s += s[i]
  print(f"The new strig is {new_s}")
else:
  print("The string is one character")

Enter string : abca
The new strig is ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
s = input("Enter string : ")
new_s = s.split()
c = 0
for i in range(len(new_s)):
  count = 0
  for j in range(len(new_s)):
    if new_s[i] == new_s[j]:
      count +=1
    if count > c:
      c = count
print(f"Result {c}")

Enter string : amr and ahmed are frindes but amr is the tallest
Result 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s = input("Enter string : ")
print(f"upper of string is {s.upper()}")
print(f"lower of string is {s.lower()}")

Enter string : Ahmed
upper of string is AHMED
lower of string is ahmed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
s = input("Enter string : ")
if len(s) % 4 == 0:
  new_s = s[::-1]
  print(f"Reverse of string is {new_s}")
else:
  print("Length of string not multiple of 4 ")

Enter string : Mark
Reverse of string is kraM

**10- Write a Python program to remove a newline in Python

In [ ]:
s = "Ahmed \n Ismail \n Azzam"
print(f"Before {s}")
new_s = s.replace("\n","")
print(f"After {new_s}")

Before Ahmed
 Ismail
 Azzam
After Ahmed  Ismail  Azzam

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
s = "Ahmed plays football"
new_s = s.split()
search = input("whether a string starts with specified characters you want : ")
if new_s[0] == search:
  print("True")
else:
  print("False")

whether a string starts with specified characters you want : Ahmed
True

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
s = "cristano \n is my \n adore"
pref = input("Enter prefix you want: ")
new_s = s.split()
size = len(new_s)
for i in range(size):
    print(pref + new_s[i])

Enter prefix you want: +
+cristano
+is
+my
+adore

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
number = float(input("Enter the number : "))
r = round(number, 2)
print("Number up to two decimal places =",r)

Enter the number : 144.187
Number up to two decimal places = 144.19

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
number = float(input("Enter the number : "))
r = round(number, 2)
if r > 0:
  print(f"The number is +{r}")
else:
  print(f"The number is {r}")

Enter the number : 179.147
The number is +179.15

**15-Write a Python program to display a number with a comma separator

In [ ]:
number = int(input("Enter the number : "))
print(f"{number:,d}")

Enter the number : 6000000
6,000,000

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
s = input("Enter the string : ")
print(f"The reverse of string : {s[::-1]}")

Enter the string : ahmed
The reverse of string : demha

In [ ]:
s = input("Enter the string : ")
new_s = "".join(reversed(s))
print(f"The reverse of string : {new_s}")

Enter the string : ahmed
The reverse of string : demha

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
string = input("Enter string : ")
d={}
for i in string:
  d[i] = string.count(i)
max_count = max(d.values())
for i in d:
  if max_count == d[i]:
    key_max = i
print(f"The dictionary of string is {d}")
print(f"Count repeated charaters {key_max} in a string is {max(d.values())}")

Enter string : ahhmmmeeeeed
The dictionary of string is {'a': 1, 'h': 2, 'm': 3, 'e': 5, 'd': 1}
Count repeated charaters e in a string is 5

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
string = input("Enter string : ")
d = {}
for i in string:
  d[i] = string.count(i)
for i in d:
  if string.count(i) == 1:
    max_key = i
    break
print(f"First non-repeating character is '{max_key}' count = {1}")

Enter string : ahhmeed
First non-repeating character is 'a' count = 1

**19-Write a Python program to remove spaces from a given string

In [ ]:
s = input("Enter String : ")
s_remove = ""
for i in s:
  if i != " ":
   s_remove+=i
print(f"String after remove spaces : {s_remove}")

Enter String : A     h  me  d
String after remove spaces : Ahmed

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
string = input("Enter string : ")
n = len(string)
c = int((n * (n + 1) / 2))
print(f"Count the number of non-empty substrings of a given string {string} is {c}")

Enter string : abc
Count the number of non-empty substrings of a given string abc is 6

**21-write a Python program to swap first and last element of any list.

In [ ]:
number_size = int(input("Enter number you want to list : "))
l = []
for i in range(number_size):
  number = int(input(f"Enter numbers {i+1} to list : "))
  l.append(number)
print(f"befor swap first and last element the list is {l}")
l[0],l[-1]=l[-1],l[0]
print(f"after swap first and last element the list is {l}")

Enter number you want to list : 5
Enter numbers 1 to list : 2
Enter numbers 2 to list : 4
Enter numbers 3 to list : 9
Enter numbers 4 to list : 8
Enter numbers 5 to list : 7
befor swap first and last element the list is [2, 4, 9, 8, 7]
after swap first and last element the list is [7, 4, 9, 8, 2]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
 l = [23, 65, 19, 90]
 l[0],l[2]=l[2],l[0]
 print("The list is",l)

The list is [19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
string = input("Enter string : ")
count = 0
for i in string:
  if i != " ":
    count +=1
print(f"The length of string without spaces = {count}")

Enter string : Ah  med
The length of string without spaces = 5

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
number_size = int(input("Enter number you want to list : "))
list1 = []
max = 0
for i in range(number_size):
  number = int(input(f"Enter numbers {i+1} to list : "))
  list1.append(number)
for i in range(len(list1)):
  if list1[i] > max:
    max = list1[i]
    max_index = i
print(f"The list is {list1}")
print(f"The maximum number is {max} and you can find in index {max_index} in list")

Enter number you want to list : 5
Enter numbers 1 to list : 9
Enter numbers 2 to list : 17
Enter numbers 3 to list : 22
Enter numbers 4 to list : 14
Enter numbers 5 to list : 5
The list is [9, 17, 22, 14, 5]
The maximum number is 22 and you can find in index 2 in list

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
number_size = int(input("Enter number you want to list : "))
list1 = []
min = 99999
for i in range(number_size):
  number = int(input(f"Enter numbers {i+1} to list : "))
  list1.append(number)
for i in range(len(list1)):
  if list1[i] < min:
    min = list1[i]
print(f"The list is {list1}")
print(f"The minimum number of list is {min}")

Enter number you want to list : 5
Enter numbers 1 to list : 7
Enter numbers 2 to list : 4
Enter numbers 3 to list : 8
Enter numbers 4 to list : 9
Enter numbers 5 to list : 3
The list is [7, 4, 8, 9, 3]
The minimum number of list is 3

**26-search for if an elem is existing in list

In [ ]:
number_size = int(input("Enter number you want to list : "))
list1 = []
f = 0
for i in range(number_size):
  number = int(input(f"Enter numbers {i+1} to list : "))
  list1.append(number)
x = int(input("Enter number you want to search : "))
for i in range(len(list1)):
  if list1[i] == x:
    index = i
    f = 1
print(f"The list is {list1}")
if f == 1:
  print(f"X = {x} exist in {index} index of list")
else:
  print(f"X = {x} is not exist in list {list1}")

Enter number you want to list : 5
Enter numbers 1 to list : 7
Enter numbers 2 to list : 9
Enter numbers 3 to list : 5
Enter numbers 4 to list : 4
Enter numbers 5 to list : 2
Enter number you want to search : 4
The list is [7, 9, 5, 4, 2]
X = 4 exist in 3 index of list

**27- clear python list using different ways

In [ ]:
l = [2, 3, 5, 6, 7]
print(f"List before clear is {l}")
del l[:]
print(f"List atfer clear is {l}")

List before clear is [2, 3, 5, 6, 7]
List atfer clear is []

In [ ]:
l = [2, 3, 5, 6, 7]
print(f"List before clear is {l}")
while len(l) !=0:
  l.pop()
print(f"List atfer clear is {l}")

List before clear is [2, 3, 5, 6, 7]
List atfer clear is []

**28-remove duplicated elements from a list

In [ ]:
l = [1,2,3,4,1,5,6,7,1,9]
print(f"List before removing duplicated elements is {l}")
l_set = set(l)
new_list = list(l_set)
print(f"List after removing duplicated element is {new_list}")

List before removing duplicated elements is [1, 2, 3, 4, 1, 5, 6, 7, 1, 9]
List after removing duplicated element is [1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
l = [1,2,3,4,1,5,6,7,1,9]
print(f"List before removing duplicated elements is {l}")
new_list = []
for i in l:
  if i not in new_list:
    new_list.append(i)
print(f"List after removing duplicated element is {new_list}")

List before removing duplicated elements is [1, 2, 3, 4, 1, 5, 6, 7, 1, 9]
List after removing duplicated element is [1, 2, 3, 4, 5, 6, 7, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
d = []
for i in range(0,len(test_list),2):
  d.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})
print(d)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
l = [1, 2, 2, 5, 8, 4, 4, 8]
new_s = []
for i in l:
  if i not in new_s:
    new_s.append(i)
print(f"Count unique values = {len(new_s)}")

Count unique values = 5

In [ ]:
l = [1, 2, 2, 5, 8, 4, 4, 8]
set_l = set(l)
print(f"Count unique values = {len(set_l)}")

Count unique values = 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
l = []
for i in range(len(test_list)):
  if test_list.count(test_list[i]) > 3:
    l.append(test_list[i])
l_set = set(l)
print(f"Output = {list(l_set)}")

Output = [3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
test_list = [1,2,2,3,4,5]
l1 = []
for i in range(1,len(test_list)):
  m = max(test_list[i],test_list[i-1])
  l1.append(m)
k = " ".join(map(str,l1))
print(k)

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
c = int(input("Enter third number : "))
d = []
l = []
d.append(a)
d.append(b)
d.append(c)
print(f"The three digits is {d}")
for i in range(1,4):
  for j in range(1,4):
    for k in range(1,4):
      if(i!=j and j!=k and k!=i):
        s = str(i) + str(j) + str(k)
        l.append(s)
l_finish = " ## ".join(l)
print(f"All possiple combinantions from three is {l_finish}")

Enter first number : 1
Enter second number : 2
Enter third number : 3
The three digits is [1, 2, 3]
All possiple combinantions from three is 123 ## 132 ## 213 ## 231 ## 312 ## 321

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
test_list = [1, 2, 3]
result = []
for i in range(len(test_list)):
   for j in range(i+1,len(test_list)+1):
      result.append(test_list[i:j])
print(result)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list_1 = ["a","b"]
list_2 = [1,2]
result = []
for i in range(len(list_1)):
  for j in range(len(list_2)):
    result.append((list_1[i],list_2[j]))
result[1],result[2]=result[2],result[1]
result[3],result[1]=result[1],result[3]
result1 = result[:2]
result2 = result[-2:]
final_result = result1 + result2
print(f"Unique combination = {final_result}")

Unique combination = [('a', 1), ('b', 2), ('a', 2), ('b', 1)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
l = [1,1,2,3,4,5,1,2,1]
max = 0
for i in range(len(l)):
  if l.count(l[i]) > max:
    max_count = l.count(l[i])
    value_max = l[i]
for i in range(max_count):
   l.remove(value_max)
l = " ".join(map(str,l))
print(f"After removing all the occurrences of an element from a list is {l}")

After removing all the occurrences of an element from a list is 2 3 4 5 2

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list1 = ["Gfg","is","best"]
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = []
for i in list2:
    result.append(list1[i])
print(f"The original list 1 is {list1}")
print(f"The original list 2 is {list2}")
print(f"The lists after index elements replacements is {result}")

The original list 1 is ['Gfg', 'is', 'best']
The original list 2 is [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
The lists after index elements replacements is ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
test_list1 = [(4, 5, 5, 4), (5, 4, 3)]
k1 = 5
n1 = 2
result1 = []
test_list2 = [(4, 5, 5, 4), (5, 4, 3)]
k2 = 5
n2 = 3
result2 = []
for tup in test_list1:
  if tup.count(k1) == n1:
    result1.append(tup)
for tup in test_list2:
  if tup.count(k2) == n2:
    result2.append(tup)
print(f"Output 1 : {result1}")
print(f"Output 2 : {result2}")

Output 1 : [(4, 5, 5, 4)]
Output 2 : []

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sort_col0 = sorted(array , key= lambda x:x[0] )
print("Sorted array specific to column 0:", sort_col0)
sort_col1 = sorted(array , key= lambda x:x[1] )
print("Sorted array specific to column 1:", sort_col1)
sort_col2 = sorted(array , key= lambda x:x[2] )
print("Sorted array specific to column 2:", sort_col2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
new_d = sorted(d.items())
final_d=dict(new_d)
print(f"Before sorting {str(d)}")
print(f"After sorting {str(final_d)}")

Before sorting {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
After sorting {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
d = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
k = 7
key_found = None
key_to_remove = []
print(f"Before remove values is {d}")
for key,value in d.items():
  if isinstance(value,int) and value >= k:
    key_to_remove.append(key)
for key in key_to_remove:
  del d[key]
print(f"After remove keys with Values Greater than : {d}")

Before remove values is {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
After remove keys with Values Greater than : {'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
print(f"Dictionary 1 is : {d1}")
print(f"Dictionary 2 is : {d2}")
print(f"Dictionary 3 is : {d3}")
d_final = {}
d_final = d1.copy()
d_final.update(d2)
d_final.update(d3)
print(f"Dicionary after concatenate is {d_final}")

Dictionary 1 is : {1: 10, 2: 20}
Dictionary 2 is : {3: 30, 4: 40}
Dictionary 3 is : {5: 50, 6: 60}
Dicionary after concatenate is {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {}
number_dic = int(input("Enter number of dictionary : "))
for i in range(number_dic):
  k = input(f"Enter key of {i+1} item : ")
  d[k] = input(f"Enter value with key {k} : ")
print(f"Dictionary is {d}")
for key,value in d.items():
  print(key,'--->',value)

Enter number of dictionary : 4
Enter key of 1 item : Name
Enter value with key Name : Ahmed
Enter key of 2 item : Age
Enter value with key Age : 19
Enter key of 3 item : Home
Enter value with key Home : giza
Enter key of 4 item : Gender
Enter value with key Gender : Male
Dictionary is {'Name': 'Ahmed', 'Age': '19', 'Home': 'giza', 'Gender': 'Male'}
Name ---> Ahmed
Age ---> 19
Home ---> giza
Gender ---> Male

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
print(f"Dictionary 1 is {dict1}")
print(f"Dictionary 2 is {dict2}")
dict1.update(dict2)
print(f"Merged dictionary using is : {dict1}")

Dictionary 1 is {'a': 1, 'b': 2}
Dictionary 2 is {'b': 3, 'c': 4}
Merged dictionary using is : {'a': 1, 'b': 3, 'c': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
d = {'a': 10, 'b': 5, 'c': 15, 'd': 3}
max = 0
min = 9999999999
for value in d.values():
  if value > max:
    max = value
  if value < min:
    min = value
print(f"Dicionary is {d}")
print(f"Minimum of values in dictionary {min}")
print(f"Maximum of values in dictionary {max}")

Dicionary is {'a': 10, 'b': 5, 'c': 15, 'd': 3}
Minimum of values in dictionary 3
Maximum of values in dictionary 15

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
d = {'c1': 'Red', 'c2': 'Green', 'c3': None}
key_to_remove = []
print(f"Dictionary before remove : {d}")
for key,value in d.items():
  if value == None:
    key_to_remove.append(key)
for i in key_to_remove:
  del d[i]
print(f"Dictionary after remove is : {d}")

Dictionary before remove : {'c1': 'Red', 'c2': 'Green', 'c3': None}
Dictionary after remove is : {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
t = ()
l = list(t)
number_size = int(input("Enter size of tuple : "))
for i in range(number_size):
  n = int(input(f"Enter number {i+1} you want : "))
  l.append(n)
t = tuple(l)
print(f"the tuple of numbers is : {t}")
item = int(input("Enter index of item you want to print : "))
print(f"The index {item} of item is {t[item]}")

Enter size of tuple : 5
Enter number 1 you want : 22
Enter number 2 you want : 19
Enter number 3 you want : 14
Enter number 4 you want : 15
Enter number 5 you want : 10
the tuple of numbers is : (22, 19, 14, 15, 10)
Enter index of item you want to print : 3
The index 3 of item is 15

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
t = (19, "apple", 3.14, "mango")
age , fruit , pi , fav = t
print(age)
print(fruit)
print(pi)
print(fav)

19
apple
3.14
mango

In [ ]:
t = (19, "apple", 3.14, "mango")
list1 = []
for i in range(len(t)):
  list1.append(t[i])
for i in range(len(list1)):
  print(f"The {i+1} element in tuple is {list1[i]} and this index is {i} in list")

The 1 element in tuple is 19 and this index is 0 in list
The 2 element in tuple is apple and this index is 1 in list
The 3 element in tuple is 3.14 and this index is 2 in list
The 4 element in tuple is mango and this index is 3 in list

**49-Write a Python program to add an item to a tuple

In [ ]:
t = (22,33,4,58,9)
print(f"Tuple before adding : {t}")
l = list(t)
item = input("Enter item you want to add to tuple : ")
l.append(item)
t = tuple(l)
print(f"Tuple after adding '{item}' is {t}")

Tuple before adding : (22, 33, 4, 58, 9)
Enter item you want to add to tuple : Ahmed
Tuple after adding 'Ahmed' is (22, 33, 4, 58, 9, 'Ahmed')

**50-Write a Python program to convert a tuple to a string

In [ ]:
t = (22,33,4,58,9,'ahmed')
print(f"Tuple before convert to string : {t}")
new_t = str(t)
print(f"Tuple after convert to string : {new_t}")

Tuple before convert to string : (22, 33, 4, 58, 9, 'ahmed')
Tuple after convert to string : (22, 33, 4, 58, 9, 'ahmed')

In [ ]:
t = (22,33,4,58,9,'ahmed')
print(f"Tuple before convert to string : {t}")
new_t = ' '.join(map(str,t))
print(f"Tuple after convert to string : {new_t}")

Tuple before convert to string : (22, 33, 4, 58, 9, 'ahmed')
Tuple after convert to string : 22 33 4 58 9 ahmed

**51-Write a Python program to convert a list to a tuple

In [ ]:
l = [1,2,3,'ahmed',4,5]
print(f"List before convert to tuple : {l}")
t = tuple(l)
print(f"List after convert tuple : {t}")

List before convert to tuple : [1, 2, 3, 'ahmed', 4, 5]
List after convert tuple : (1, 2, 3, 'ahmed', 4, 5)

**52-Write a Python program to reverse a tuple

In [ ]:
t = (22,33,4,58,9,'ahmed')
print(f"Tuple before reverse : {t}")
new_t = t[::-1]
print(f"Tuple after reverse : {new_t}")

Tuple before reverse : (22, 33, 4, 58, 9, 'ahmed')
Tuple after reverse : ('ahmed', 9, 58, 4, 33, 22)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_l = []
for i in range(len(l)):
  new_l.append(list(l[i]))
print(f"List before edit : {new_l}")
for i in range(len(l)):
  new_l[i][2] = 100
print(f"List after edit : {new_l}")

List before edit : [[10, 20, 40], [40, 50, 60], [70, 80, 90]]
List after edit : [[10, 20, 100], [40, 50, 100], [70, 80, 100]]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
string = "python3.0"
print(f"String before convert to tuple : {string}")
t = tuple(string)
print(f"String after convert to tuple : {t}")

String before convert to tuple : python3.0
String after convert to tuple : ('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
t = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
sum = 0
count = 0
for i in range(len(t)):
  for j in range(len(t[i])):
    sum += t[i][j]
    count += 1
print(f"Tuple of tuple is : {t}")
print(f"Sum of number = {sum}")
print(f"Count of numbers = {count}")
print(f"Average of number = {sum/count}")

Tuple of tuple is : ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Sum of number = 45
Count of numbers = 9
Average of number = 5.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
s = {1, 2, 3}
print(f"Set before adding is : {s}")
number = int(input("Enter the number you want to add to set : "))
s.add(number)
print(f"Set after adding '{number}' is : {s}")
l = input("Enter any thing to add to set : ")
s.update(l)
print(f"Set after adding '{l}' is : {s}")

Set before adding is : {1, 2, 3}
Enter the number you want to add to set : 4
Set after adding '4' is : {1, 2, 3, 4}
Enter any thing to add to set : 789
Set after adding '789' is : {1, 2, 3, 4, '7', '8', '9'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s = {1, 2, 3, 4, 5}
number_remove = int(input("Enter the number you want to remove : "))
print(f"Set before remove '{number_remove}' is : {s}")
if number_remove in s:
  s.remove(number_remove)
  print(f"Set after remove '{number_remove}' is : {s}")
else:
  print(f"The number '{number_remove}' is not found in set")

Enter the number you want to remove : 4
Set before remove '4' is : {1, 2, 3, 4, 5}
Set after remove '4' is : {1, 2, 3, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print(f"Set1 is : {s1}")
print(f"Set2 is : {s2}")
print(f"Intersection is : {s1 & s2}")
print(f"Union is : {s1 | s2}")
print(f"Difference set1 to set2 is : {s1 - s2}")
print(f"Difference set2 to set1 is : {s2 - s1}")
print(f"Symmetric is : {s1 ^ s2}")

Set1 is : {1, 2, 3, 4, 5}
Set2 is : {3, 4, 5, 6, 7}
Intersection is : {3, 4, 5}
Union is : {1, 2, 3, 4, 5, 6, 7}
Difference set1 to set2 is : {1, 2}
Difference set2 to set1 is : {6, 7}
Symmetric is : {1, 2, 6, 7}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
s = {5, 22, 35, 15, 9}
print(f"Minimum value in set is: {max(s)}")
print(f"Maximum value in set is: {min(s)}")

Minimum value in set is: 35
Maximum value in set is: 5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
l = [1, 2, 3, 4, 5, 6]
target =  int(input("Enter your target : "))
pair = []
for i in range(len(l)):
  for j in range(i+1,len(l)):
    if l[i] + l[j] == target:
     pair.append((l[i],l[j]))
print(f"Pair of number {pair} to achive the target {target}")

Enter your target : 8
Pair of number [(2, 6), (3, 5)] to achive the target 8