# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Step 4. See the first 10 entries

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
num_observations = chipo.shape[0]
print(f"Number of Observations (Row) is {num_observations}")

Number of Observations (Row) is 4622

In [8]:
# Solution 2
num_observations = len(chipo)
print(f"Number of Observations (Row) is {num_observations}")

Number of Observations (Row) is 4622

### Step 6. What is the number of columns in the dataset?

In [9]:
num_columns = chipo.shape[1]
print(f"Number of columns in dataset is {num_columns}")

Number of columns in dataset is 5

### Step 7. Print the name of all the columns.

In [11]:
name_columns = chipo.columns.to_list()
print(f"Name of all the columns is \n{name_columns}")

Name of all the columns is
['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [12]:
index = chipo.index
print(f"Dataset indexed : {index}")

Dataset indexed : RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
most_name = chipo['item_name'].value_counts().index[0]
print(f"Most-ordered item is {most_name}")

Most-ordered item is Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [14]:
most_number = chipo['item_name'].value_counts()[0]
print(f"For the most-ordred item '{most_name}' and quantity ordered {most_number}")

For the most-ordred item 'Chicken Bowl' and quantity ordered 726

### Step 11. What was the most ordered item in the choice_description column?

In [19]:
most_choice_name = chipo['choice_description'].value_counts().index[0]
most_choicec_number = chipo['choice_description'].value_counts()[0]
print(f"The most-orderd item in choice description {most_choice_name} and quantity is {most_choicec_number}")

The most-orderd item in choice description [Diet Coke] and quantity is 134

### Step 12. How many items were orderd in total?

In [21]:
total_ordered = chipo['quantity'].sum()
print(f"Total number of Items Ordered is {total_ordered}")

Total number of Items Ordered is 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [23]:
price_type = chipo['item_price'].dtype
print(f"Type of item price is {price_type}")

Type of item price is object

#### Step 13.b. Create a lambda function and change the type of item price

In [26]:
convert = lambda x: float(x[1:])
chipo['item_price'] = chipo['item_price'].apply(convert)

#### Step 13.c. Check the item price type

In [27]:
price_type = chipo['item_price'].dtype
print(f"After convert type of item price is {price_type}")

After convert type of item price is float64

### Step 14. How much was the revenue for the period in the dataset?

In [31]:
chipo['revenue'] = chipo['quantity']*chipo['item_price']
total_revenue = chipo['revenue'].sum()
print(f"Total Revenue for the Period is {total_revenue}")

Total Revenue for the Period is 39237.02

### Step 15. How many orders were made in the period?

In [32]:
number_order = chipo['order_id'].nunique()
print(f"Number of orders were made in the period is {number_order}")

Number of orders were made in the period is 1834

### Step 16. What is the average revenue amount per order?

In [33]:
# Solution 1
avg = total_revenue / number_order
print(f"average revenue amount per order is {avg}")

average revenue amount per order is 21.39423118865867

In [35]:
# Solution 2
total_order = chipo.groupby('order_id')['revenue'].sum()
avg = total_order.mean()
print(f"average revenue amount per order is {avg}")

average revenue amount per order is 21.39423118865867

### Step 17. How many different items are sold?

In [36]:
number_items_sold = chipo['item_name'].nunique()
print(f"Number of different items are sold is {number_items_sold}")

Number of different items are sold is 50