# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [11]:
called = pd.read_csv("https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv")
called.head(10)

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931
5,2013-01-09,14817,7995,6821,2888,9766,7311,2455,27471
6,2014-04-02,3155,938,2217,265,3379,3129,250,6799
7,2014-04-09,5761,2080,3681,1482,1609,1448,161,8852
8,2014-04-16,2286,634,1652,1186,633,604,29,4105
9,2014-04-23,3530,1392,2138,1239,1984,1453,531,6753

### Step 4.  What is the frequency of the dataset?

In [9]:
called['Date'] = pd.to_datetime(called['Date'])
called.set_index('Date', inplace=True)
frequency = pd.infer_freq(called.index)
print("Frequency of the dataset:", frequency)

Frequency of the dataset: None

### Step 5. Set the column Date as the index.

In [12]:
called.set_index('Date', inplace=True)
called.head(10)

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931
2013-01-09,14817,7995,6821,2888,9766,7311,2455,27471
2014-04-02,3155,938,2217,265,3379,3129,250,6799
2014-04-09,5761,2080,3681,1482,1609,1448,161,8852
2014-04-16,2286,634,1652,1186,633,604,29,4105
2014-04-23,3530,1392,2138,1239,1984,1453,531,6753

### Step 6. What is the type of the index?

In [13]:
index_type = called.index.dtype
print("Type of the index:", index_type)

Type of the index: object

### Step 7. Set the index to a DatetimeIndex type

In [14]:
called.index = pd.DatetimeIndex(called.index)
called.head(5)

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [16]:
monthly = called.resample('M').sum()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-31,3661,-1627,5288,2730,12149,9414,2735,18540
2013-02-28,0,0,0,0,0,0,0,0
2013-03-31,0,0,0,0,0,0,0,0
2013-04-30,0,0,0,0,0,0,0,0
2013-05-31,0,0,0,0,0,0,0,0
2013-06-30,0,0,0,0,0,0,0,0
2013-07-31,0,0,0,0,0,0,0,0
2013-08-31,0,0,0,0,0,0,0,0
2013-09-30,0,0,0,0,0,0,0,0
2013-10-31,0,0,0,0,0,0,0,0
2013-11-30,0,0,0,0,0,0,0,0
2013-12-31,0,0,0,0,0,0,0,0
2014-01-31,0,0,0,0,0,0,0,0
2014-02-28,0,0,0,0,0,0,0,0
2014-03-31,0,0,0,0,0,0,0,0
2014-04-30,10842,1048,9794,4931,8493,7193,1300,24267
2014-05-31,-2203,-8720,6518,3172,13767,10192,3576,14736
2014-06-30,2319,-6546,8865,4588,9715,7551,2163,16621
2014-07-31,-7051,-11128,4078,2666,7506,7026,481,3122
2014-08-31,1943,-5508,7452,1885,1897,-1013,2910,5723
2014-09-30,-2767,-6596,3829,1599,3984,2479,1504,2816
2014-10-31,0,0,0,0,0,0,0,0
2014-11-30,-2753,-7239,4485,729,14528,11566,2962,12502
2014-12-31,0,0,0,0,0,0,0,0
2015-01-31,3471,-1164,4635,1729,7368,2762,4606,12569
2015-02-28,5508,3509,1999,1752,9099,7443,1656,16359
2015-03-31,5691,-8176,13867,2829,9138,7267,1870,17657
2015-04-30,379,-4628,5007,970,423,514,-91,1772

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [20]:
monthly = monthly.replace({0:np.nan})
monthly.dropna(how='all',inplace=True)
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156.0,-23126.0,-3031.0,526.0,9848.0,12613.0,-2765.0,-15782.0
2013-01-31,3661.0,-1627.0,5288.0,2730.0,12149.0,9414.0,2735.0,18540.0
2014-04-30,10842.0,1048.0,9794.0,4931.0,8493.0,7193.0,1300.0,24267.0
2014-05-31,-2203.0,-8720.0,6518.0,3172.0,13767.0,10192.0,3576.0,14736.0
2014-06-30,2319.0,-6546.0,8865.0,4588.0,9715.0,7551.0,2163.0,16621.0
2014-07-31,-7051.0,-11128.0,4078.0,2666.0,7506.0,7026.0,481.0,3122.0
2014-08-31,1943.0,-5508.0,7452.0,1885.0,1897.0,-1013.0,2910.0,5723.0
2014-09-30,-2767.0,-6596.0,3829.0,1599.0,3984.0,2479.0,1504.0,2816.0
2014-11-30,-2753.0,-7239.0,4485.0,729.0,14528.0,11566.0,2962.0,12502.0
2015-01-31,3471.0,-1164.0,4635.0,1729.0,7368.0,2762.0,4606.0,12569.0
2015-02-28,5508.0,3509.0,1999.0,1752.0,9099.0,7443.0,1656.0,16359.0
2015-03-31,5691.0,-8176.0,13867.0,2829.0,9138.0,7267.0,1870.0,17657.0
2015-04-30,379.0,-4628.0,5007.0,970.0,423.0,514.0,-91.0,1772.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [21]:
yearly = monthly.resample('Y').sum()
yearly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156.0,-23126.0,-3031.0,526.0,9848.0,12613.0,-2765.0,-15782.0
2013-12-31,3661.0,-1627.0,5288.0,2730.0,12149.0,9414.0,2735.0,18540.0
2014-12-31,330.0,-44689.0,45021.0,19570.0,59890.0,44994.0,14896.0,79787.0
2015-12-31,15049.0,-10459.0,25508.0,7280.0,26028.0,17986.0,8041.0,48357.0